*{
	box-sizing: border-box;
	font-family: Helvetica;
}

h1 {
		text-align: center;
		margin-bottom: 20px;
		

}

.row {
  		width: 100%;

}

.bloco {
	
  	
  	padding-top: 10px;
  	padding-left: 10px;
  	padding-right: 10px;
  	height: 200px;
  	
  	color: white;
  	


}


.q{
	border: 1px solid black;
	height: 100%;
}

#q1 {
	
	background-color: #00190D;
		
}

#q2 {
	
	background-color: #00190D;
	
}

#q3 {
	
	background-color: #00190D;
	margin-bottom: 20px;
}

.lab{
	text-align: center;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	float: right;
	height: 23px;
	width: 100px;
	font-family: Helvetica;
	font-weight:bold;
	
}
	
#lab1 {
	background-color: #237257;
}

#lab2 {
	background-color: #171834;
}

#lab3 {
	background-color: #2F6572;
}

p{
	margin-top: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

/***   Large medias ***/

@media (min-width: 992px) {
	.col-lg-4 {
    	float: left;
    	width: 33.33%;
  	}
}


/***   Medium medias ***/

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12 {
    	float: left;
  	}
  	.col-md-6 {
    	width: 50%;
  	}
  	.col-md-12 {
    	width: 100%;
  	}	
}

/***   Small medias ***/

@media (max-width: 767px){
	.col-sm-12 {
    	float: left;
    	width: 100%;
  	} 	
}